flask==3.0.2
flask-socketio==5.3.6
flask-cors==4.0.0
python-dotenv==1.0.1
redis==5.0.1
eventlet==0.35.2
gunicorn==21.2.0
yt-dlp
ytmusicapi
syncedlyrics
werkzeug==3.0.1
ffmpeg-python
google-api-python-client